Wildfly/target/
Wildfly/db/
Wildfly/pom.xml.tag
Wildfly/pom.xml.releaseBackup
Wildfly/pom.xml.versionsBackup
Wildfly/pom.xml.next
Wildfly/release.properties
Wildfly/dependency-reduced-pom.xml
Wildfly/buildNumber.properties
Wildfly/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!Wildfly/.mvn/wrapper/maven-wrapper.jar
